* {
    margin: 0%;
    padding: 0%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: tomato;
    border: 1px solid red;

}

#form {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    background: rgb(162, 162, 236);
    padding: 30px;
    border-radius: 8px;
}

#purchased_vouchers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}


.voucher>img {
    width: 300px;
    text-align: center;
    border: 1px solid gray;


}